body, p{
    background-color: #FAC90A;
    color: #101010;
}

li:hover {
    background-color: gray;
    opacity: 30%;
}

li {
    list-style-type: armenian;
}

input:focus {
    background-color: gray;
}

div img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

div a img {
    width: 60px;
    height: 40px;
    padding: 2px;
    border: 2px gray solid;
    border-radius: 10px;
    margin-left: 20px;
}

div form {
    text-align: center;
}

div form {
    padding: 2px;
    padding: 10px;
    border: 2px gray solid;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}